:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
}

body {
  height: 100vh;
}

.container {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Pizza-3007395.jpg/1200px-Pizza-3007395.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
  max-width: 800px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 10vh;
}

button {
  background-color: #242424;
  color: white;
  border: white 1px solid;
  border-radius: 4px;
  padding: 0px 10px;
}

.sectionCards {
  display: flex;
}

.ambos-formularios {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: #242424;
  width: 80%;
  margin: 100px auto 0px;
}

.error {
  padding: 10px;
  color: white;
  background-color: red;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.success {
  padding: 10px;
  color: white;
  background-color: green;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.pizza-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pizza-card {
  border: 1px solid #ccc;
  padding: 16px;
  width: 400px;
  text-align: center;
}

.pizza-card img {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}